/**************
 *  Author: Bhishan Poudel
 *  Date: Jun 19, 2020
 *  Purpose: Decorating html files using css
 */


.color1 {color:#800;}
.color2 {color:#080;}
.color3 {color:#660;}
.color4 {color:#606;}
.color5 {color:#600;}
.color6{color:#044;}
.color7  {color:#066;}

.bkg1 {background-color:#aec7e8;}
.bkg2 {background-color:#ffbb78;}
.bkg3 {background-color:#c7e9c0;}
.bkg4 {background-color:#bcbddc;}
.bkg5 {background-color:#ff9896;}

blockquote {
	border-left: 5px solid #aec7e8;
}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 2px; /*rounded button 50% is round */
	font-size: 10px;
    }

  .button2 {background-color: #008CBA;border-radius: 50%;} /* Blue */
  .button3 {background-color: #e4908a;color:'red';} /* Red */ 
  .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
  .button5 {background-color: #555555;} /* Black */